In [17]:
a="Harshit"

print(type(a))

# accessing the elements of the string
# +ve indexing
# a[0]
# a[1]
# a[6]


# -ve indexing
# a[-1]
# a[-7]

<class 'str'>

In [18]:
# Index Slicing
a[0:5:2]

a[::-1]

'tihsraH'

In [24]:
s2 = "this is my very first programming class's"

s2[0:6]

'this i'

In [25]:
s3='Harshit'
s4='Singhal'

s3+' '+s4 #string concatenation

s3*2

'HarshitHarshit'

In [30]:
s2 = "this is my very first programming class's"
s2.count('t')


# what does count do? It return the occurrence of any character in the string

2

In [34]:
s5 = "this,is,my,very,first,programming,class's"
s5.split(',')
# Very useful function to split the string based on the delimiter

['this', 'is', 'my', 'very', 'first', 'programming', "class's"]

In [9]:
# string formatting

name = input("Enter your name:")
age = 25
print(f"My name is {name},and my age is {age}")

My name is           Hello ji mai to khel gaya,and my age is 25

In [16]:
s6= "this is my very first programming class's HELLO"

print(s6.upper())
print(s6.lower())
print(s6.title())
print(s6.capitalize())
print(s6)

THIS IS MY VERY FIRST PROGRAMMING CLASS'S HELLO
this is my very first programming class's hello
This Is My Very First Programming Class'S Hello
This is my very first programming class's hello
this is my very first programming class's HELLO

In [14]:
s7 = "   this is my very first programming class's HELLO     "
print(s7.lstrip())
print(s7.rstrip())
print(s7.strip())
print(s7)

this is my very first programming class's HELLO
   this is my very first programming class's HELLO
this is my very first programming class's HELLO
   this is my very first programming class's HELLO

In [22]:
s8 = "this is my very first programming class's HELLO"

print(s8.find('v'))

11

In [35]:
s9= "Harshit123"

s9.isalnum()
s9.isupper()
s9.islower()
s9.startswith('h')

False

In [28]:
s10 = "THIS IS MY VERY FIRST PROGRAMMING CLASS'S HELLO"
s10.isupper()

True

In [40]:
s11= "Harshit"

s11.replace('r','R')
s11.center(20,' ')

'      Harshit       '

In [41]:
s6= "Harshit\t123"
a= s6.center(20 , '#') # This will add center the string with 20 #'s 10 from right and 10 from left making the content in Center
b= s6.isupper() # By default it will return Boolean value like True or False. in this case it will return False as my complete string is not in upper case
c= s6.islower() # By default it will return Boolean value like True or False. in this case it will return False as my complete string is not in lower case
d= s6.isspace() # By default it will return Boolean value like True or False. in this case it will return False as my string is not a space. Space as in s6= " " A blank space
e= s6.isdigit() # By default it will return Boolean value like True or False. in this case it will return False as my complete string is not a digit. If my string would have been s6= '123' then it would have returned Ture
f= s6.isalnum() # By default it will return Boolean value like True or False. in this case it will return True as my string is combination of Alpna and numerical.
g= s6.isalpha() # By default it will return Boolean value like True or False. in this case it will return False as my string is not completely alpha
h= s6.startswith('i') # By default it will return Boolean value like True or False. in this case it will return False as my string doesnot starts with 'i'
i= s6.startswith('h') # By default it will return Boolean value like True or False. in this case it will return False as my string doesnot starts with 'h'
j= s6.startswith('H') # By default it will return Boolean value like True or False. in this case it will return Tur as my string starts with 'H'. PYTHON IS CASE SENSITIVE SO h and H are different
k= s6.endswith('3') # By default it will return Boolean value like True or False. in this case it will return Tur as my string ends with '3'
l= s6.isnumeric() # By default it will return Boolean value like True or False. in this case it will return False as my string is not completely string and for numeric it has to be completey numberic and with one character into the string. You can't take an empty string like "" or " "
m= s6.isascii() # By default it will return Boolean value like True or False. In this case my character is a ASCII so it will always return True
n= s6.expandtabs() # It will expand all the part wherever it find a '\t'


a,b,c,d,e,f,g,h,i,j,k,l,m,n

('####Harshit\t123#####',
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 'Harshit 123')

In [42]:
s10 = "THIS IS MY VERY FIRST PROGRAMMING CLASS'S HELLO"

len(s10)

47